<table>
<?teng if $.activities._count gt 0 ?>
  <?teng frag activities ?>
  <tr class="activity activity-${id}">
    <td class="activity-name">${name}</td>
    <td class="activity-tags"></td>
    <td class="activity-duration activity-running" title="${startedAtISO8601}">${durationInWords}</td>
    <td class="button">
      <button class="stop-tracking">Stop tracking</button>
    </td>
  </tr>
  <?teng endfrag ?>
<?teng else ?>
  <tr>
    <td class="activity-name">No activity</td>
    <td class="activity-tags">&nbsp;</td>
    <td class="activity-duration">&nbsp;</td>
    <td class="button">
      <button class="stop-tracking" disabled="disabled">Stop tracking</button>
    </td>
  </tr>
<?teng endif ?>
</table>
