<div id="current-activity">
  ${unescape($current)}
</div>
<div class="clear"></div>

<div id="new-activity">
  <form id="new-activity-form">
    <table>
      <tr>
        <td><button id="select-activity">Select activity</button></td>
        <td class="activity"><input class="activity-name unfocused" type="text" name="activity[name_with_project]" /></td>
        <td class="tags"><input class="activity-tags unfocused" type="text" name="activity[tag_names]" /></td>
        <td><button class="start-tracking">Start tracking</button></td>
      </tr>
    </table>
  </form>
</div>
<div class="clear"></div>

<div id="tabs" style="height: 100%;">
  <ul>
    <li><a href="#today-tab">Today</a></li>
    <li><a href="#week-tab">Week</a></li>
  </ul>
  <div id="today-tab">
    ${unescape($today)}
  </div>
  <div id="week-tab">
    WEEK PARTIAL
  </div>
</div>
<div style="margin: 0.5em 0";>
  <div id="totals">TOTALS PARTIAL</div>
  <button id="add-earlier-activity">Add earlier activity</button>
  <div class="clear"></div>
</div>

<div id="confirmation-dialog" style="display: none;">
  Are you sure you want to delete this activity?
</div>

<script type="text/javascript" src="/js/index.js"></script>
