<!DOCTYPE html>
<html>
<head>
  <title><?teng if exist(title) ?>${title}<?teng else ?>Hourglass<?teng endif ?></title>
  <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
  <script type="text/javascript" src="/js/dictionary.js"></script>
  <script type="text/javascript" src="/js/autocomplete.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/smoothness/jquery-ui.css" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>

${unescape($content)}

</body>
</html>
