{{#activity}}
<tr class="activity activity-{{id}}">
  <td class="activity-started-at">{{startedAtHM}}</td>
  <td class="time-separator">-</td>
  <td class="activity-ended-at">
    {{#running}}{{endedAtHM}}{{/running}}
    {{#notRunning}}&nbsp;{{/notRunning}}
  </td>
  <td class="activity-name">{{name}}</td>
  <td class="project-name">{{projectName}}</td>
  <td class="activity-tags"></td>
{{#running}}
  <td class="activity-duration activity-running" title="{{startedAtISO8601}}">{{durationInWords}}</td>
{{/running}}
{{#notRunning}}
  <td class="activity-duration activity-finished">{{durationInWords}}</td>
{{/notRunning}}
  <td class="icons">
    <span class="ui-icon ui-icon-pencil"></span>
    <span class="ui-icon ui-icon-trash"></span>
  </td>
</tr>
{{/activity}}
