<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery-ui-1.8.18.custom.min.js"></script>
  <script type="text/javascript" src="/js/utils.js"></script>
  <script type="text/javascript" src="/js/dictionary.js"></script>
  <script type="text/javascript" src="/js/autocomplete.js"></script>
{{#javascript}}
  <script type="text/javascript" src="{{url}}"></script>
{{/javascript}}
  <link type="text/css" rel="stylesheet" href="/css/{{theme}}/jquery-ui.css" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>
{{>content}}
</body>
</html>
